<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis3.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.linaxhua.file_transfer.uaa.dao.RBACDao">
    <sql id="userAll">
        uid,name,password
    </sql>
    <select id="getUserByUid" resultType="cn.linaxhua.file_transfer.common.entity.User">
        select
        <include refid="userAll"/>
        from user u
        where u.uid=#{uid}
    </select>
</mapper>
